<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.weatherforecastver2" >

    <!-- ACCESS_FINE_LOCATIONは高精度の情報を送り込む許可-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- ACCESS_COARSE_LOCATIONは低精度の情報を送り込む許可-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- MOCK_ACCESS_LOCATIONはエミュレータに疑似位置情報を送り込む許可-->
    <uses-permission android:name="android.permission.MOCK_ACCESS_LOCATION" />
    <!--ネットワークに送り込む許可-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
